@media screen and (min-width: 641px) {
    .menu-button {
        display: none;
    }

    .button-area_include {
        display: none;
    }

    .title__br {
        display: none;
    }

    .news__img-m {
        display: none;
    }

    .news_mobile {
        display: none;
    }

    .common-form__body-text_mobile {
        display: none;
    }

    .link-menu__time_mobile {
        display: none;
    }

    .common-form__head-text_mobile {
        display: none;
    }

    .travel-list__travel-pic {
        display: none;
    }

    .news_latest-articles-display {
        display: flex;
    }

    .common-form__br_mobile {
        display: none;
    }

    .comment-form__br {
        display: none;
    }

}

@media screen and (max-width: 641px) {
    .header {
        background-image: url('./../img/mobile_head_background.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;

        margin: 0 auto;
        width: 100%;
        height: 177.5vw;
    }

        .header__menu-button {
            flex-basis: 10%;
            margin-top: 3%;
            margin-right: 3%;
        }

        .header__button-area-m {
            flex-basis: 20%;
        }

        .header__title {
            margin-top: 32%
        }


        .header__button-area {
            flex-basis: 20%;
            margin-top: 3.8%;
        }


    .bar {
        display: none;
    }

    .menu-button {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

        .menu-button__button {
            background-color: rgba(0, 0, 0, 0);
            background-image: url("../img/mobile_head_button.png");
            background-size: 100% 100%;
            background-repeat: no-repeat;

            width: 65px;
            height: 59px;
            border: 0;
        }

    .title {
        display: block;
        flex-direction: column;
        justify-content: flex-start;
        flex-basis: 0;
    }

        .title__br {
            display: block;
        }

        .title__text {
            font-size: 11.3vw;
            line-height: 15.477vw;
        }


    .button {
        border-radius: 36px;
        width: 58vw;
        margin: 0 auto;
        background-color: white;
        border: 0;
    }

        .button__text {
            font-family: Intro;
            font-size: 29.25px;
            color: black;
            margin: 0 auto;
            margin-top: 6%;
            margin-bottom: 3%;
        }

    .include-button {
        background-color: rgba(0, 0, 0, 0);
        background-image: url("../img/mobile_head_button1.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;


        margin: 0 auto;
        width: 58px;
        height: 69px;
        border: 0;
    }

    .button-area__include-button {
        margin-top: 0;
    }

    .page__article {
        margin-top: 6.9%;
    }

    .article__line-title {
        padding-left: 0;
        padding-right: 0;
    }

    .line-title__text {
        font-size: 5.6vw;
    }

    .line-title__hr_right-popular-article {
        width: 16.5vw;
    }

    .line-title__hr_left-popular-article {
        width: 16.5vw;
    }

    .big-news {
        display: none;
    }

    .news {
        flex-direction: column;
        height: 72vw;
    }

    .popular-articles {
        height: 390vw;
        margin-top: 29px;
    }

    .articles__popular-articles {
        margin-left: 0;
        margin-right: 0;
    }

    .news__img {
        display: none;
    }

    .news__img_comment {
        width: 1vw;
        height: 1vw;
    }

    .news__img-m {
        width: 100%;
        display: block;
    }

    .news_mobile {
        display: flex;
    }

    .news__common-from {
        padding-top: 5vw;
        margin-left: 0;
        height: 36.2vw;
        padding-left: 2.6vw;
        justify-content: flex-start;
    }

    .small-news {
        height: 100%;
    }

    .common-form__head-text {
        display: none;
        font-size: 5.5vw;
        word-spacing: 0.5vw;
    }

    .common-form__body-text {
        display: none;
        font-size: 4.76vw;
        margin-top: 2.7vw;
        letter-spacing: 0.27vw;
        line-height: 6.6vw;
    }


    .common-form__body-text_mobile {
        display: flex;
        line-height: 6.3vw;
        letter-spacing: 0.25vw;
    }

    .link-menu__time {
        display: none;
    }

    .link-menu__time_mobile {
        display: flex;
        font-size: 5.67vw;
    }

    .link-menu__bar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 24.9%;
        padding-right: 2%;
        padding-top: 1.1vw;
    }

    .link-menu {
        margin-top: 4vw;
    }

    .link-menu__img {
        width: 5.5vw;
    }

    .common-form__head-text_mobile {
        display: flex;
    }

    .article__line-title_travel {
        margin-top: 5.8vw;
    }

    .line-title__hr_left-travel {
        width: 35vw;
    }

    .line-title__hr_right-travel {
        width: 34.8vw;
    }

    .travel-list__travel-pic {
        display: flex;
        width: 100%;
    }

    .travel {
        display: none;
    }

    .article__travel-area {
        margin-top: 4.8%;
    }

    .travel-list {
        width: 100%;
        height: 100vw;
    }

    .article__line-title_latest-articles {
        margin-top: 6.5vw;
    }

    .line-title__hr_left-latest-articles {
        width: 20.2vw;
    }

    .line-title__hr_right-latest-articles {
        width: 20.7vw;
    }

    .news_latest-articles-display {
        display: none;
    }

    .latest-articles {
        width: 100%;
        height: 229.9vw;
    }

    .article__latest-articles {
        margin-top: 4.9vw;
    }

    .news__common-from_latest-articles {
        margin-left: 0;
        margin-top: 4.9vw;
        height: 36vw !important;
        padding-left: 2.8vw;
        width: 96%;
        justify-content: flex-start;

    }

    .button_latest-articles {
        background-color: #2e6464;
        border-radius: 52px;
        border: 0;
    }

    .button_latest-articles:hover {
        background-color: #3f9898;
    }

    .article__button-area {
        margin-top: 5.5vw;
    }

    .button__text_latest-articles {
        margin-top: 5.6%;
        margin-bottom: 3.8%;
        color: white;
    }

    .article__line-title_popular-videos {
        margin-top: 6.86vw;
    }

    .line-title__hr_right-popular-videos {
        width: 20vw;
    }

    .line-title__hr_left-popular-videos {
        width: 19.7vw;
    }

    .big-video__video {
        order: 0;
        height: 51.8vw;

    }

    .big-video__common-from {
        padding-top: 2.9vw;
        order: 1;
        height: 8vw;
        font-size: 0.1vw;
    }

    .article__video-list {
        padding-left: 3.2vw;
        margin-top: 4.45vw;
    }

    .video-list {
        margin-top: 4.45vw;
        width: 94.1%;
        height: 193.6vw;
    }

    .video-list__small-videos {
        padding-right: 0;
    }


    .big-video {
        height: 62.2vw;
        width: 100%;
    }

    .common-form__head-text_popular-videos {
        display: flex;
        line-height: 4.7vw;
        font-size: 3.6vw;
        word-spacing: 0.8vw;
    }

    .plyr__video-pos {
        height: 51.7vw !important;
    }

    .plyr--video .plyr__controls {
        top: 35vw !important;
        padding: 7.3vw 10px 10px;
    }

    .small-videos {
        height: 123.6vw;
    }

    .compose-video {
        height: 36vw;
    }

    .compose-video .video {
        height: 36vw;
        width: 48vw !important;
    }

    .plyr__min-video-include-pos {
        height: 36.5vw !important;
        width: 48vw !important;
    }

    .compose-video .video .plyr .plyr__play-large {
        width: 14vw;
        height: 15vw;
    }

    .common-form__head-text_hide {
        display: flex;
    }

    .link-menu__time_hide {
        display: flex;
    }

    .common-form__br_mobile {
        display: flex;
    }

    .common-form_popular-videos {
        width: 44vw;
        height: 27.1vw;
    }

    .common-form__head-text_small-video {
        line-height: 7.3vw;
    }

    .link-menu__time_small-video {
        font-size: 3.7vw;
    }

    .link-menu__time_small-video_v1 {
        padding-left: 4vw;
    }

    .link-menu__time_small-video_v2 {
        padding-left: 3vw;
    }

    .article__button-area_popular-video {
        margin-top: 6.3vw;
    }

    .article__line-title_music {
        margin-top: 6.86vw;
    }

    .line-title__hr_left-music {
        width: 36.2vw;
    }

    .line-title__hr_right-music {
        width: 36.2vw;
    }

    .plyr__time {
        left: 84.6vw;
        top: 7.6vw;
    }

    .common-form_music {
        order: 1;
        height: 7.5vw;
        padding-left: 3vw;
        width: 96%;
    }

    .music__player {
        order: 0;
    }

    .music {
        width: 100%;
        height: 34.1vw;
    }

    .common-form__head-text_music {
        padding-top: 3vw;
        font-size: 3.5vw;
        word-spacing: 0;
        letter-spacing: 0.16vw;
        line-height: 4.4vw;
    }

    .music__song-name {
        width: 72%;
        top: 10vw;
        left: 19.3vw;
        font-size: 2.84vw;
    }

    .article__music {
        margin-top: 1.3vw;
    }

    .plyr--audio .plyr__controls {
        width: 100% !important;
        margin: 0;
        height: 20.2vw;
    }

    .plyr--audio .plyr__controls button {
        width: 12vw;
        height: 12vw;
    }

    .plyr--audio .plyr__controls .plyr__time--current {
        display: flex;
        color: black;
        left: 36vw;
        font-size: 2vw;
        top: 3vw;
    }

    .comments__line-title_comments {
        padding: 0;
        width: 100%;
    }

    .comments {
        width: 100%;
    }

    .line-title__text_comments {
        font-size: 3.7vw
    }

    .article__comments {
        margin-top: 5.516vw;
    }

    .line-title__hr_right-comments {
        width: 38.5vw;
    }

    .line-title__hr_left-comments {
        width: 38.7vw;
    }

    .comments__news {
        flex-direction: row;
    }

    .comments {
        height: 131vw;
    }

    .comment-list {
        height: 120.4vw;
        width: 100%;
    }

    .comments__comment-list {
        padding-left: 0;
    }

    .comment {
        width: 97%;
        height: 23.4vw;
        padding-left: 2.7vw;
    }

    .comment_com2 {
        height: 35.4vw;
    }

    .comment__img {
        width: 12vw;
        height: 12vw;
    }

    .comment-form__com1 {
        height: 23.4vw;
    }

    .comment-form__com2 {
        height: 35.4vw;
    }

    .comment-form__com3 {
        height: 23.4vw;
    }

    .comment-form__com4 {
        height: 23.4vw;
    }

    .comment__comment-form {
        margin-left: 3.11vw;
    }

    .comment-form__author {
        font-size: 3.7vw;
    }

    .comment-form__com2 {
        margin-left: 3.11vw;
    }

    .comment-form__title {
        flex-direction: column;
        justify-content: space-between;
        height: 8.2vw;
    }

    .comment-form__time {
        margin-left: 0;
        font-size: 2.6vw;
        word-spacing: 0.6vw;
    }

    .comment-form__link {
        font-size: 3.55vw;
    }

    .comment-form__body {
        height: 7vw;
        font-size: 2.85vw;
    }

    .comment-form__br {
        display: flex;
    }

    .comment-form__body_com2 {
        height: 18vw;
        line-height: 3.9vw;
    }

    .textarea {
        margin: 0 auto;
        margin-left: 3vw;
        margin-top: 6vw;
        width: 91.45vw;
        height: 9.7vw;
        padding-left: 2.25vw;
        padding-top: 2.8vw;
        font-size: 3.23vw;
    }

    .article__counter {
        margin-top: 2.8vw;
        padding-left: 0;
    }

    .counter {
        width: 41vw;
    }

    .counter__link {
        font-size: 5vw;
    }

    .page__footer {
        margin-top: 5.4vw;
    }

    .footer {
        height: 15.6vw;
    }

    .footer__text {
        display: flex;
        align-items: center;
        font-size: 2.8vw;
        color: white;
        padding-left: 3.4vw;
        margin: 0;
    }

    .footer__link-list {
        padding-right: 2.9vw;
        width: 26.5vw;
    }

    .footer__img {
        width: 6.4vw;
        height: 6.4vw;
    }

    .line-title__text {
        letter-spacing: 0.17vw
    }

    .plyr--audio .plyr__controls button {
        margin-left: 1.7%;
    }
}

@media screen and (max-width: 522px) {
    .plyr__time {
        top: 5vw;
    }

    .footer__text {

    }
}

@media screen and (max-width: 368px) {
    .plyr--audio .plyr__controls .plyr__time--current {
        display: none;
    }

    .music__song-name {
        font-size: 3.84vw;
    }

    .music {
        height: 45.1vw;
    }
}