
/*Переопределение всех параметров для видео*/
.plyr__play-large {
    background: rgba(0, 0, 0, 0);
    background: url(../img/large_play.png) no-repeat;
    background-size: 100%;
    width: 90px;
    height: 91px;
    display: none;
    position: absolute;
    z-index: 1;
    top: 49%;
    left: 49%;
    transform: translate(-50%,-50%);
    padding: 10px;
    border: 0;
    border-radius: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,.15);
    transition: all .3s ease;
}

.plyr input[type=range] {
    display: none;
    height: 20px;
    width: 100%;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    border: none;
    background: 0 0;
}

.plyr__progress--played, .plyr__volume--display {
    z-index: 1;
    color: white;
    background: 0 0;
    transition: none;
}

.plyr__play-large svg {
    display: none;
}

.state__component-pv-min-pos .component__min-video-pos .component_min-video-block .plyr .plyr__play-large {
    width: 33%;
    height: 52%;
    top: 52%;
    left: 52%;
}

.state__component-pv-min-pos .component__min-video-pos .component_min-video-block .plyr .plyr__controls {
    display: none;
}

.state__component-pv-min-pos .component__min-video-pos .component_min-video-block .plyr .plyr__video-wrapper {
    width: 100%;
}

.plyr {
    min-width: 0;
}

.plyr--video .plyr__controls {
    top: 67%;
    left: 1%;
}

.plyr__time {
    font-family: Lato-Regular;
    font-size: 11.25px;
    color: white;

    position: absolute;
    left: 92%;
    top: 43%;
}

.plyr__time--current {
    position: relative;
    left: -113%;
}

.plyr__time--duration {
    position: absolute;
    left: 49%;
}

.plyr__progress--buffer, .plyr__progress--played, .plyr__volume--display{
    width: 98%;
}

.plyr--audio .plyr__controls {
    width: 69.9%;
    margin-left: 0.5%;
    margin-top: -3.6%;
    height: 131px;
}

.plyr--audio .plyr__controls button {
    background-image: url("../img/large_pause.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 10.5%;
    height: 73.5%;
    margin-left: 4.7%;
}

.plyr--audio .plyr__controls button svg  {
    display: none !important;

}


.plyr--audio .plyr__controls .plyr__progress .plyr__progress--played, .plyr__volume--display {
    color: #5e5d63;
}

.plyr--audio .plyr__controls .plyr__progress {
    margin-top: 3.6%;
    margin-left: 3.3%;
}

.plyr--audio .plyr__controls .plyr__time--current {
    display: none;
}

.plyr--audio .plyr__controls .plyr__time--duration {
    font-size: 11.25px;
    color: #7c7c7c;
    position: absolute;
    left: 0;
    top: 0;
}

.plyr--audio .plyr__controls .plyr__time {
    left: 63.2%;
    top: 37%;
}

.plyr__play-large {
    background: rgba(0, 0, 0, 0);
    background: url(../img/large_play.png) no-repeat;
    background-size: 100%;
    width: 90px;
    height: 91px;
    display: none;
    position: absolute;
    z-index: 1;
    top: 49%;
    left: 49%;
    transform: translate(-50%,-50%);
    padding: 10px;
    border: 0;
    border-radius: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,.15);
    transition: all .3s ease;
}

.plyr--audio .plyr__controls button {
    background-image: url("../img/large_pause.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 5vw;
    height: 5vw;
    margin-left: 4.7%;
}

.compose-video .video .plyr .plyr__play-large {
    width: 57px;
    height: 61px;
}

.plyr--audio .plyr__controls {
    width: 47.8vw !important;
    margin: 0;
    height: 8.1vw;
}

.plyr--audio .plyr__controls .plyr__time {
    top: 3.1vw;
    left: 42.7vw;
}

.plyr--audio .plyr__controls .plyr__time--duration {
    font-size: 0.8vw;
}

.plyr--audio .plyr__controls button {
    width: 5vw;
    height: 5vw;
}

.plyr__video-pos {
    height: 20.6vw !important;
    margin-left: 0;
    margin-top: 0;
}

.plyr__min-video-include-pos {
    height: 7vw !important;
}

.compose-video .video .plyr--video .plyr__controls {
    display: none;
}

@font-face {
    font-family: Lato-Bold;
    src: url("../fonts/Lato-Bold.ttf");
}
@font-face {
    font-family: Lato-Regular;
    src: url("../fonts/Lato-Regular.ttf");
}
@font-face {
    font-family: Intro;
    src: url("../fonts/Intro.otf");
}



.page {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0;
}

    .page__header {
        margin: 0 auto;
    }

    .page__article {
        margin: 0 auto;
        margin-top: 4%;
    }

    .page__footer {
        margin-top: 2.2vw;
    }


.header {
    background: url("../img/header__background.png") no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40.8vw;
}

    .header__title {
        margin: 0;
        margin-left: 27.2%;
    }

    .header__button-area {
        flex-basis: 48.3%;
    }

.bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

    .bar__logo {
        margin-left: 13.1vw;
        word-spacing: -3.3px;
        letter-spacing: -0.18px;
    }

    .bar__nav {
        margin-top: 2%;
        margin-right: 13.4vw;
    }


.title {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-basis: 30%;
}

    .title__text {
        font-family: Intro;
        font-size: 2.23vw;
        color: white;
        margin: 0;
    }



.button-area {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

    .button-area_include {
        display: flex;
    }

.button {
    margin: 0 auto;
    background-color: white;
    border-radius: 21px;
    width: 14.2vw;
    border: 0;
}

    .button:hover {
        background-color: #c3baba;
    }

    .button__text {
        margin-top: 0.8vw;
        margin-bottom: 0.4vw;
        font-family: Intro;
        font-size: 1.13vw;
        color: white;
        text-align: center;
        color: black;
    }

    .button_latest-articles {
        background-color: #2e6464;
        border-radius: 21px;
        border: 0;
    }

    .button_latest-articles:hover {
        background-color: #3f9898;
    }

    .button__text_latest-articles {
        font-family: Intro;
        font-size: 18px;
        color: white;
        text-align: center;
        margin-top: 6.8%;
        margin-bottom: 2.4%;
    }


.logo {
    display: inline-block;
    font-family: Lato-Bold;
    font-size: 1.12vw;
}

    .logo__left {
        color: white;
    }

    .logo__right {
        color: black;
    }


.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 28.62vw;
}

    .nav__link {
        display: inline-block;
        letter-spacing: -0.05px;
        cursor: pointer;
        font-family: Lato-Regular;
        font-size: 1vw;
        color: white;
        text-decoration: none;
        height: 21.2px;
    }

    .nav__link:hover {
        text-decoration: none;
        border-bottom: 2px solid white;
        padding-bottom: 4px;
    }


.article {
}

    .article__line-title {
        padding-left: 13.4%;
        padding-right: 13.4%;
    }

    .comments__line-title_comments {
        padding-left: 13.2vw;
        padding-right: 38vw;
    }

    .article__music {
        margin: 0 auto;
        margin-top: 2.3vw;
    }

    .article__comments {
        margin: 0 auto;
        margin-top: 1.516vw;
    }

    .article__textarea {
        margin-top: 1.94vw;
        margin-left: 13.3vw;
        padding-left: 1.25vw;
        padding-top: 1.2vw;
    }

    .article__counter {
        margin: 0 auto;
        margin-top: 2vw;
        padding-left: 13vw;

    }

    .article__line-title_music {
        margin-top: 4.1vw;
    }

    .article__line-title_popular-videos {
        margin-top: 3.86vw
    }

    .article__line-title_popular-article {
        margin: 0;
    }

    .article__line-title_latest-articles {
        margin-top: 3.744vw;
    }

    .article__line-title_travel {
        margin-top: 3.8vw;
    }

    .articles__popular-articles {
        margin-left: 13.4%;
        margin-right: 13.4%;
    }

    .article__travel-area {
        padding-bottom: 0;
        margin: 0 auto;
        margin-top: 1.8%;
    }

    .article__news {
        margin: 0 auto;
        width: 73.1%;
    }

    .article__latest-articles {
        margin: 0 auto;
        margin-top: 2.47vw;
    }

    .article__button-area {
        flex-basis: 48.3%;
        margin-top: 2.5vw;
    }

    .article__video-list {
        padding-left: 13.3vw;
        margin-top: 2.46vw;
    }


.comments {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 34vw;
}

    .comments__comment-list {
        padding-left: 16vw;
        margin-top: 2.7vw;
    }


.line-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

    .line-title__hr {
        height: 0;
        color: black;
        margin: 0;
    }

    .line-title__hr_travel {
        width: 23vw;
    }

    .line-title__hr_left-popular-article {
        width: 23vw;
    }

    .line-title__hr_right-popular-article {
        width: 23vw;
    }

    .line-title__hr_left-travel {
        width: 30vw;
    }

    .line-title__hr_right-travel {
        width: 30.7vw;
    }

    .line-title__hr_left-latest-articles {
        width: 23.2vw;
    }

    .line-title__hr_right-latest-articles {
        width: 25.7vw;
    }

    .line-title__hr_left-popular-videos {
        width: 23vw;
    }

    .line-title__hr_right-popular-videos {
        width: 25.4vw;
    }

    .line-title__hr_left-music {
        width: 29.6vw;
    }

    .line-title__hr_right-music {
        width: 32vw;
    }

    .line-title__hr_left-comments {
        width: 20.7vw;
    }

    .line-title__hr_right-comments {
        width: 20.1vw;
    }

    .line-title__text {
        font-family: Intro;
        font-size: 2.24vw;
        color: black;
        text-align: center;
        margin: 0;
        padding-top: 7px;
        letter-spacing: 0.05vw;
    }

    .line-title__text_comments {
        font-family: Lato-Regular;
        font-size: 1vw;
        padding-top: 0;
    }

.popular-articles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 34.6vw;
    margin-top: 42px;
}

    .popular-articles__small-news {
        order: 0;
        flex-shrink: 1.49;
    }

    .popular-articles__big-news {
        vertical-align: top;
        margin: 0;
    }


.small-news {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

    .small-news__news {
        margin: 0;
    }

.news {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

    .news__img {
        width: 10.5vw;
        height: 6.8vw;
    }

    .news__img_latest-articles {
        width: 35.3vw;
        height: 22.3vw;
    }

    .news__common-from {
        padding-left: 2vw;
        flex-grow: 1;
    }

    .news_latest-articles {
        height: 22.3vw;
    }

    .news__common-from_latest-articles {
        height: 13vw;
        align-content: center;
        align-items: stretch;
        margin: auto auto;
        margin-left: 7.98vw;
    }

.common-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

    .common-form_music {
        height: 1.5vw;
    }

    .common-form_popular-videos {
        width: 11.5vw;
        height: 4.1vw;
        padding-left: 1.7vw;
    }

    .common-form_pa2 {
        height: 11.5vw;
    }

    .common-form__br_dif {
        display: block !important;
    }

    .common-form_pa3 {
        height: 11.5vw;
    }

    .common-form_pa4 {
        height: 11.6vw;
    }

    .common-form_pa5 {
        height: 12.5vw;
    }

    .common-form_pa6 {
        height: 11.5vw;
    }

    .common-form__body-text_pa1 {
        height: 7vw;
    }

    .common-form__body-text_pa2 {
        height: 5.6vw;
    }

    .common-form__body-text_pa3 {
        height: 5.6vw;
    }

    .common-form__body-text_pa4 {
        height: 5.5vw;
    }

    .common-form__body-text_pa6 {
        height: 5.5vw;
    }

    .common-form__head-text {
        display: flex;
        margin: 0;
        font-family: Intro;
        font-size: 1vw;
        color: black;
        text-align: left;
    }

    .common-form__head-text_music {
        font-size: 1.48vw;
    }

    .common-form__head-text_popular-videos {
        word-spacing: 0.095vw;
        letter-spacing: 0.01vw;
    }

    .common-form__head-text_small-video {
        line-height: 1.3vw;
    }

    .common-form__head-text_latest-articles {
        letter-spacing: -0.009vw;
        font-size: 1.5vw !important;
    }

    .common-form__body-text_latest-articles {
        line-height: 1.5vw !important;
        font-size: 1vw !important;
    }

    .common-form__br {
        display: block;
    }

    .common-form_white-text {
        color: white;
        font-size: 1.48vw;
    }

    .common-form__body-text {
        margin: 0;
        line-height: 0.89vw;
        font-family: Lato-Regular;
        font-size: 0.76vw;
        text-align: left;
    }

    .common-form_body {
        font-size: 0.87vw;
        line-height: 1.5vw;
        padding-bottom: 0.2vw;
        margin-top: 0.5vw;
    }

    .common-form_big-news {
        justify-content: flex-end;
    }


.link-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

    .link-menu__time {
        display: inline-block;
        margin: 0;
        font-family: Lato-Bold;
        font-size: 0.86vw;
        color: black;
    }

    .link-menu__time_small-video {
    }

    .link-menu__time_latest-articles {
        font-size: 0.88vw;
    }

    .link-menu_white-text {
        color: white;
    }

    .link-menu__bar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-grow: 1;
        padding-right: 0.3vw;
        padding-left: 1vw;
    }

    .link-menu__bar_latest-articles {
        padding-right: 0;
        padding-left: 1.4vw;
        flex-grow: 0;
        width: 3.7vw;
    }

    .link-menu__a {
        text-decoration: none;
        display: inline-block;
        margin-left: 0;
        margin-top: 0;
    }

    .link-menu__img {
        width: 0.8vw;
    }


.big-news {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: url("../img/state1__pic.png") no-repeat;
    background-size: 100%;
    order: 0;
    width: 43.4vw;
}

    .big-news__common-form {
        margin-left: 23%;
        margin-bottom: 9%;
    }


.travel-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 72.4vw;
}

    .travel-list__travel {
        margin-left: 0;
    }

    .travel-list__travel-pic {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 31vw;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    .travel-list__travel-pic_scotland {
        background-image: url("../img/mobile_article_tr_img1.png");
    }

    .travel-list__travel-pic_horseshoe {
        background-image: url("../img/mobile_article_tr_img2.png");
    }

    .travel-list__travel-pic_niagara {
        background-image: url("../img/mobile_article_tr_img3.png");
    }


.travel {
    width: 22.9vw;
}

    .travel__head-text {
        margin-bottom: 4%;
        margin-top: 3%;
        font-family: Intro;
        font-size: 18px;
        color: black;
        text-align: center;
    }

    .travel__img {
        width: 100%;
    }

    .travel__footer-head {
        margin: 0;
        margin-top: 1.4vw;
        line-height: 1.12vw;
        font-family: Lato-Regular;
        text-align: left;
        font-size: 0.8735vw;
    }

    .travel__br {
        display: block;
    }


.latest-articles {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 73.1%;
    height: 146.1vw;
}

.video-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* width: 73.1%; */
    height: 23.4vw
    /* padding-left: 0; */
}

    .video-list__big-video {
        padding-bottom: 0;
    }

    .video-list__small-videos {
        padding-right: 9.7vw;
    }

.big-video {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 47.7vw;
}

    .big-video__common-from {
        margin: 0;
        height: 2.5vw;
    }

    .compose-video__video {
        width: 10.6vw !important;
    }


.video {
    height: 20.5vw;
}

.small-videos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 26.6vw;
}

.compose-video {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.compose-video .video {
    height: 6.8vw;
}

.music {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 73.2%;
    height: 11.2vw;
}

    .music__player {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .music__song-name {
        letter-spacing: 0.06px;
        z-index: 10;
        font-family: Lato-Regular;
        font-size: 0.87vw;
        color: black;
        margin: 0;
        position: relative;
        top: 3.96vw;
        left: 9.3vw;
    }


.comment {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

    .comment__img {
        width: 5vw;
        height: 5vw;
    }

    .comment__comment-form {
        margin: 0;
        margin-left: 1.11vw;
    }

    .comment-form__com1 {
        height: 4.5vw;
    }

    .comment-form__com2 {
        height: 7.3vw;
    }

    .comment-form__com3 {
        height: 4.5vw;
    }

    .comment-form__com4 {
        height: 4.4vw;
    }


.comment-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

    .comment-form__author {
        margin: 0;
        font-family: Lato-Bold;
        font-size: 1vw;
        color: black;
    }

    .comment-form__time {
        font-family: Lato-Regular;
        font-size: 0.88vw;
        color: #5e5d63;
        margin-left: 1.1vw;
    }

    .comment-form__title {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .comment-form__body {
        font-family: Lato-Regular;
        font-size: 0.88vw;
        color: #5e5d63;
        margin: 0;
    }

    .comment-form__body_com2 {
        height: 4vw;
        line-height: 1.5vw;
    }

    .comment-form__link {
        font-family: Lato-Regular;
        font-size: 1vw;
        color: #17027a;
        text-decoration: none;
        margin: 0;
    }


.comment-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 46%;
    height: 30.1vw;
}

    .textarea {
        width: 46.45vw;
        background-color: rgba(209, 213, 255, 0.5);
        border: 0;
        height: 3.7vw;
        font-size: 14px;
        letter-spacing: 0.03vw;
        word-spacing: -0.4vw;
    }

.counter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 214px;
}

    .counter__link {
        text-decoration: none;
        font-family: Lato-Regular;
        font-size: 1vw;
        color: #66737a;
    }


.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 6.1vw;

    background-image: url("../img/footer__background.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

    .footer__text {
        font-family: Lato-Regular;
        font-size: 14px;
        color: white;
        padding-left: 13.4vw;
        display: flex;
        align-items: center;
    }

    .footer__link-list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-right: 13.4vw;
        width: 10.4vw;

        padding-top: 0;
    }

    .footer__img {
        width: 2.4vw;
        height: 2.4vw;
    }


@media screen and (max-width: 1440px) {
    .header__title {
        margin: 0 auto;
    }

    .title__text {
        text-align: center;

    }

    .plyr__time {
        left: 89%;
    }
}

@media screen and (max-width: 1024px) {

    .big-video {
        width: 84%;
    }

    .small-news {
        order: 1;
    }

    .popular-articles {
        flex-direction: column;
        height: 98vw;
    }

    .big-news {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background: url(../img/state1__pic.png) no-repeat;
        background-size: 100%;
        order: 0;
        height: 52vw;
        width: 100%;
    }

    .common-form_white-text {
        font-size: 2.48vw;
    }

    .link-menu {
        justify-content: space-between;
    }

    .link-menu__bar {
        padding-left: 0;
        flex-grow: 0;
    }

    .common-form_body {
        font-size: 0.87vw;
        line-height: 1.5vw;
    }

    .link-menu_white-text {
        font-size: 1.86vw;
    }

    .big-news__common-form {
        margin-top: 27vw;
        margin-bottom: 2vw;
    }

    .small-news {
        height: 44vw;
    }

    .news__img {
        width: 27vw;
        height: 100%;
    }

    .common-form__head-text {
        font-size: 2.5vw;
    }

    .common-form__body-text {
        font-size: 1.76vw;
        line-height: 2vw;
    }

    .common-form__br {
        display: none;
    }

    .link-menu__time {
        font-size: 1.46vw;
    }

    .link-menu__img {
        width: 1.5vw;
    }

    .travel__footer-head {
        line-height: 2.12vw;
    }

    .travel {
        width: 39.9vw;
        margin: 0 auto;
    }

    .travel-list {
        flex-direction: column;
    }

    .travel__footer-head {
        font-size: 1.8735vw;
    }

    .travel__br {
        display: none;
    }

    .news__common-from_latest-articles {
        height: 17vw !important;
    }

    .common-form__head-text_latest-articles {
        font-size: 2vw !important;
    }

    .common-form__body-text_latest-articles {
        font-size: 1.7vw !important;
        height: 9vw;
        line-height: 2vw !important;
    }

    .common-form__br {
        display: none;
    }

    .link-menu__time_latest-articles {
    }

    .link-menu__bar_latest-articles {
        width: 23%;
    }

    .button_latest-articles {
        width: 18vw;
    }

    .video-list {
        flex-direction: column;
        height: 75.56vw;
    }

    .small-videos {
        height: 36vw;
        width: 100%;
    }

    .big-video {
        height: 27vw;
    }

    .big-video__common-from {
        height: 23.5vw;
    }

    .plyr__video-pos {
        height: 31.5vw !important;
    }

    .common-form__head-text_popular-videos {
        font-size: 1.9vw;
    }

    .compose-video {
        height: 11.5vw;
    }

    .plyr__min-video-include-pos {
        height: 11.5vw !important;
    }

    .compose-video .video {
        height: 11.8vw;
        width: 18vw !important;
    }

    .common-form_popular-videos {
        width: 48vw;
        height: 5.1vw;
    }

    .link-menu__a {
        padding-right: 3vw;
    }

    .link-menu__time_small-video {
    }

    .news__img_popular-articles {
        width: 16vw;
    }

    .common-form__head-text_music {
        font-size: 1.48vw;
    }

    .music {
        width: 73.2%;
        height: 16.2vw;
    }

    .plyr--audio .plyr__controls {
        width: 60.8vw !important;
        margin: 0;
        height: 11.1vw;
    }

    .music__song-name {
        top: 4.96vw;
        left: 11.3vw;
        font-size: 1.7vw;
    }

    .plyr--audio .plyr__controls .plyr__time {
        top: 4.1vw;
        left: 54.7vw;
    }

    .plyr--audio .plyr__controls .plyr__time--duration {
        font-size: 1.4vw;
    }

    .line-title__text_comments {
        font-size: 2vw;
    }

    .line-title__hr_left-comments {
        width: 17.7vw;
    }

    .line-title__hr_right-comments {
        width: 17.1vw;
    }

    .comments {
        height: 47vw;
    }

    .comment {
        height: 9.4vw;
    }

    .comment-list {
        width: 66%;
        height: 42.1vw;
    }

    .comment-form {
        height: 10.4vw;
    }

    .comment__img {
        width: 7vw;
        height: 7vw;
    }

    .comment-form__author {
        font-size: 1.6vw;
    }

    .comment-form__body {
        font-size: 1.51vw;
    }

    .comment-form__link {
        font-size: 1.5vw;
    }

    .comment-form__time {
        font-size: 1.5vw;
    }

    .comment-form__com1 {
        height: 7.4vw;
    }

    .comment-form__com2 {
        margin-left: 1.14vw;
    }

    .comment-form__com3 {
        height: 7.4vw;
    }

    .comment-form__com4 {
        height: 7.4vw;
    }

    .textarea {
        width: 55.45vw;
        height: 11.7vw;
    }

    .footer__link-list {
        width: 16.4vw;
    }

    .footer__img {
        width: 3.4vw;
        height: 3.4vw;
    }

    .footer__text {
        padding-top: 0;
    }

    .nav__link {
        font-size: 1.5vw;
    }

    .logo {
        font-size: 1.6vw;
    }

    .video-list__small-videos {
        padding-right: 0;
    }

    .common-form__br_dif {
        display: none !important;
    }
}


@media screen and (max-width: 767px) {
    .plyr--audio .plyr__controls .plyr__time--current {
        display: flex;
        color: black;
        left: 0;
        font-size: 1.4vw;
        top: 0;
    }
}


@media screen and (min-width: 1616px) {
    .header__title {
        margin: 0 auto
    }

    .link-menu__time_latest-articles {
    }

    .link-menu__bar_latest-articles {
        width: 18%;
    }

    .big-video {
        width: 35.7vw;
    }

    .small-videos {
        width: 20.84vw;
    }

    .line-title__hr_right-popular-article {
        width: 16vw;
    }

    .line-title__hr_left-popular-article {
        width: 17vw;
    }

    .line-title__hr_right-travel {
        width: 24.7vw;
    }

    .line-title__hr_left-travel {
        width: 24vw;
    }

    .line-title__hr_right-latest-articles {
        width: 19.7vw;
    }

    .line-title__hr_left-latest-articles {
        width: 17.2vw;
    }

    .line-title__hr_right-popular-videos {
        width: 19.4vw;
    }

    .line-title__hr_left-popular-videos {
        width: 17vw;
    }

    .line-title__hr_right-music {
        width: 27vw;
    }

    .line-title__hr_left-music {
        width: 23.6vw;
    }

    .line-title__hr_right-comments {
        width: 14.1vw;
    }

    .line-title__hr_left-comments {
        width: 14.7vw;
    }

    .compose-video {
    }
}

